.row
  .col-lg-6
    .form-group
      %br
      %br
      %label Email text body is here:
      %textarea.form-control{'rows'=>"7"}
  .col-lg-6
    .form-group
      %br
      %br
      %label Email body in plain text:
      %textarea.form-control{'rows'=>"7"}
.row
  .col-lg-12
    %label Subject:
    %input.form-control{type:'text'}
    .row
      %br
    .row
      .col-lg-2
        %label send to brokers?
        %input.checkbox-inline{type:"checkbox"}
      .col-lg-2
        %label send to charterers?
        %input.checkbox-inline{type:"checkbox"}
      .col-lg-2
        %label send to owners?
        %input.checkbox-inline{type:"checkbox"}
    %br
    .row
      .col-lg-1
        %button.btn.btn-default Send

%script{src:"assets/send_mail.js"}